package ${package.Controller};

import com.github.xiaoymin.knife4j.annotations.ApiOperationSupport;
import io.swagger.annotations.*;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import ${package.Service}.${table.serviceName};
import ${package.Entity}.${entity};
import pro.haichuang.framework.redis.annotation.RepeatRequestValid;
import pro.haichuang.framework.base.validate.Group;
import pro.haichuang.framework.base.request.PageRequest;
import pro.haichuang.framework.base.response.ResultVO;
import pro.haichuang.framework.base.response.vo.BaseVO;
import pro.haichuang.framework.base.response.vo.PageVO;
import pro.haichuang.framework.base.response.vo.SingleVO;
import java.util.List;

#set($ignoreEnd="(PO$)|(AO$)|(DO$)|(DTO$)")
#set($serviceEnd="Service")
#set($entityUpperCaseParseName=${table.entityPath.substring(0, 1).toUpperCase()}+${table.entityPath.substring(1, ${table.entityPath.length()}).replaceFirst($ignoreEnd, "")})
#set($entityParseName=${table.entityPath.substring(0, 1).toLowerCase()}+${table.entityPath.substring(1, ${table.entityPath.length()}).replaceFirst($ignoreEnd, "")})
#set($serviceFullName=$entityParseName+$serviceEnd)

/**
 * $!{table.comment} Controller
 *
 * @author ${author}
 * @version ${cfg.version}
 * @since ${cfg.version}
 */
@Api(tags = "[CMS] $!{table.comment}")
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
##@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
@RequestMapping("/cms/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${entityParseName}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Autowired
    private ${table.serviceName} $serviceFullName;

    @ApiOperation("单条数据")
    @ApiOperationSupport(order = 1)
    @GetMapping("/{id}")
    public SingleVO<${entity}> get(@PathVariable("id") Long id) {
        return ResultVO.okOfSingle(${serviceFullName}.getByIdAndValidate(id));
    }

    @ApiOperation("分页数据")
    @ApiOperationSupport(order = 2)
    @GetMapping("/listPage")
    public PageVO<${entity}> listPage(@ModelAttribute PageRequest pageRequest){
        return ResultVO.okOfPage(${serviceFullName}.listPageAndValidate(pageRequest));
    }

    @ApiOperation("新增单条数据")
    @ApiOperationSupport(order = 3)
    @PostMapping
    @ApiResponse(code = 500, message = "[A0500: 新增单条数据异常]")
    @RepeatRequestValid
    public BaseVO add(@RequestBody @Validated(Group.Insert.class) ${entity} $entityParseName){
        return ResultVO.ok(${serviceFullName}.saveAndValidate($entityParseName));
    }

    @ApiOperation("更新单条数据")
    @ApiOperationSupport(order = 4)
    @PutMapping
    @ApiResponse(code = 500, message = "[A0500: 更新单条数据异常]")
    @RepeatRequestValid
    public BaseVO edit(@RequestBody @Validated(Group.Update.class) ${entity} $entityParseName){
        return ResultVO.ok(${serviceFullName}.updateByIdAndValidate($entityParseName));
    }

    @ApiOperation("批量删除数据")
    @ApiOperationSupport(order = 5)
    @DeleteMapping
    @ApiResponse(code = 500, message = "[A0500: 批量删除数据异常]")
    @RepeatRequestValid
    public BaseVO del(@RequestBody List<Long> ids){
        return ResultVO.ok(${serviceFullName}.removeByIdAndValidate(ids));
    }
}

#end